/* GENERAL */
:root {
    --White: #FFFFFF;
    --Black: #000000;
    --Hero2: #0F0F0F;
    --Services2: #CED7DA;
    --Match1: #212121;
    --Match2: #A6A6A6;
    --AppleButton: #0071E3;
    --AppleButtonText: #F5F5F7;
    --ForYou: #E8E3DC;
    --Mac1: #6E8B91;
    --Mac2: #8BA2A7;
    --TV1: #2E3A46;
    --TV2: #374554;
    --Newsletter: #F5F5F7;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

.classic-button {
    border-radius: 20px;
    border: none;
    color: var(--AppleButtonText);
    background-color: var(--AppleButton);
    height: 45px;
    width: 247px;
    font-size: 20px;
    transition: 1.3s;
}

.classic-button:hover {
    scale: 1.05;
}

.classic-title {
    font-weight: bolder;
    font-size: 40px;
}

.classic-text {
    font-weight: lighter;
    font-size: 24px;
}

.previous-img,
.next-img {
    position: static;
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
}

/* HEADER */
header {
    background-color: VAR(--White);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-left button {
    border: none;
    background-color: transparent;
}

header div {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.search-sheet {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.search-sheet form {
    display: flex;
    width: 100%;
}

.search-sheet button {
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0.3px solid var(--Black);
    height: 40px;
}

#search-input {
    width: 100%;
    height: 40px;
    border: 0.3px solid var(--Black);
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-color: transparent;
}

#search-input:focus {
    padding: 10px;
    border: none;
}

#search-img {
    height: 30px;
    width: 30px;
}

#sidebar,
#logo {
    height: 35px;
    width: 35px;
}

#dark-mode {
    height: 25px;
    width: 25px;
}

/* HERO */
.hero {
    background: radial-gradient(at center, var(--Hero2), var(--Black));
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.services {
    width: 100%;
    background: linear-gradient(var(--Services2), var(--White));
    padding: 25px;
}

.services-head {
    margin: 2px;
    justify-content: left;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.carousel-services {
    border: 0.5px solid var(--Match1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.title-services {
    font-size: 36px;
    font-weight: lighter;
}

.perfect-match {
    background: radial-gradient(at center, VAR(--Match2), VAR(--Match1) 42%);
    color: var(--White);
    padding: 25px;
}

.carousel-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}